block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Создать аккаунт
      form.form.form--login
        .form__group
          label.form__label(for='username') Имя пользователя 
          input#username.form__input(type='text', placeholder='username', required)
        .form__group
          label.form__label(for='firstName') Имя
          input#firstName.form__input(type='text', placeholder='Иван', required)
        .form__group
          label.form__label(for='lastName') Фамилия
          input#lastName.form__input(type='text', placeholder='Иванов', required)          
        .form__group
          label.form__label(for='email') Адрес электронной почты
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Пароль
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        
        .form__group
          button.btn.btn--green POST
      div.res
  script(src='/js/trackFavorite.js')